@import "../../../../styles/general";

.page {
  margin-top: 80px;
  gap: 78px;
}

.banner-wrap {
  margin: 120px 0;
}

.recommend-posts {
  position: relative;
}

.slider-buttons {
  gap: 30px;
  position: absolute;
  top: -72px;
  right: 0;
}
