<aside class="aside-blog">
    <div class="aside-block input-group">
        <input type="text" class="input search-input" placeholder="Search blog...">
        <button class="search-btn"></button>
    </div>
    <div class="aside-block">
        <h6 class="aside-subtitle">Author</h6>
        <div class="aside-card aside-card-author d-flex">
            <div class="aside-card-image">
                <img src="../../../../assets/images/pictures/author.png" alt="Author">
            </div>
            <div class="aside-card-desc author">
                <div class="name">Kristin Watson</div>
                <div class="text">Curator of Marketing Course</div>
                <div class="socials d-flex">
                    <a href="" class="icon" [inlineSVG]="'./assets/images/facebook.svg'"></a>
                    <a href="" class="icon" [inlineSVG]="'./assets/images/twitter.svg'"></a>
                    <a href="" class="icon" [inlineSVG]="'./assets/images/linkedin.svg'"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="aside-block">
        <h6 class="aside-subtitle">Trending Articles</h6>
        <div class="aside-card aside-card-article d-flex">
            <div class="aside-card-image">
                <img src="../../../../assets/images/pictures/atricle-prew1.png" alt="Author">
            </div>
            <div class="aside-card-desc article">
                <div class="article-date date d-flex align-items-center">
                    <div class="icon" [inlineSVG]="'./assets/images/calendar.svg'"></div>
                    <div class="text">September 4, 2020</div>
                </div>
                <a href="" class="article-title title">
                    What is traffic arbitrage and does it really make money?
                </a>
            </div>
        </div>
        <div class="aside-card aside-card-article d-flex">
            <div class="aside-card-image">
                <img src="../../../../assets/images/pictures/article-prew2.png" alt="Author">
            </div>
            <div class="aside-card-desc article">
                <div class="article-date date d-flex align-items-center">
                    <div class="icon" [inlineSVG]="'./assets/images/calendar.svg'"></div>
                    <div class="text">September 4, 2020</div>
                </div>
                <a href="" class="article-title title">
                    What is traffic arbitrage and does it really make money?
                </a>
            </div>
        </div>
        <div class="aside-card aside-card-article d-flex">
            <div class="aside-card-image">
                <img src="../../../../assets/images/pictures/article-prew3.png" alt="Author">
            </div>
            <div class="aside-card-desc article">
                <div class="article-date date d-flex align-items-center">
                    <div class="icon" [inlineSVG]="'./assets/images/calendar.svg'"></div>
                    <div class="text">September 4, 2020</div>
                </div>
                <a href="" class="article-title title">
                    What is traffic arbitrage and does it really make money?
                </a>
            </div>
        </div>
    </div>
    <div class="aside-block">
        <h6 class="aside-subtitle">Tags</h6>
        <div class="aside-tags tags d-flex">
            <a href="#" class="aside-tag tag">
                #marketing
            </a>
            <a href="#" class="aside-tag tag">
                #recruiting
            </a>
            <a href="#" class="aside-tag tag">
                #coding
            </a>
            <a href="#" class="aside-tag tag">
                #learning
            </a>
            <a href="#" class="aside-tag tag">
                #HR
            </a>
            <a href="#" class="aside-tag tag">
                #self-development
            </a>
        </div>
    </div>
</aside>
