<main class="content container">
        <section class="section contact d-flex space-between">
            <div class="col">
                <h6 class="section-subtitle">Contact info</h6>
                <h1 class="section-title">Get in touch</h1>
                <ul class="contact-list">
                    <li class="contact-item d-flex">
                        <mat-icon class="contact-item-image" [svgIcon]="icons.chat"></mat-icon>
                        <div class="col">
                            <div class="contact-item-subtitle">Talk to us:</div>
                            <div class="contact-item-text"><a [href]="contacts.email.href">{{contacts.email.label}}</a></div>
                        </div>
                    </li>
                    <li class="contact-item d-flex">
                        <mat-icon class="contact-item-image" [svgIcon]="icons.iphone"></mat-icon>
                        <div class="col">
                            <div class="contact-item-subtitle">Call us:</div>
                            <div class="contact-item-text"><a [href]="contacts.phone.href">{{contacts.phone.label}}</a></div>
                        </div>
                    </li>
                    <li class="contact-item d-flex">
                        <mat-icon class="contact-item-image" [svgIcon]="icons.pin"></mat-icon>
                        <div class="col">
                            <div class="contact-item-subtitle">Address:</div>
                            <div class="contact-item-text">{{contacts.address}}</div>
                        </div>
                    </li>
                </ul>
                <h6 class="section-subtitle">Follow us:</h6>
                <ul class="contact-social d-flex">
                    <li *ngFor="let icon of socialIcons" class="contact-social-item">
                        <a href="#" class="contact-social-link">
                            <mat-icon class="i-social" [svgIcon]="icon"></mat-icon>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <div id="map" class="map">
                </div>
            </div>
        </section>
        <section class="section questions d-flex">
            <div class="col">
                <img src="assets/images/pictures/illustration.png" alt="" class="questions-image">
            </div>
            <div class="col">
                <form action="" class="questions-form">
                    <h6 class="section-subtitle">Any questions?</h6>
                    <h1 class="section-title">Drop us a line</h1>
                    <div class="row d-flex">
                        <div class="input-field col-6">
                            <label for="firstname" class="input-label">First Name*</label>
                            <input id="firstname" type="text" class="input" placeholder="Your first name">
                        </div>
                        <div class="input-field col-6">
                            <label for="lastname" class="input-label">Last Name*</label>
                            <input id="lastname" type="text" class="input" placeholder="Your last name">
                        </div>
                    </div>
                    <div class="row d-flex">
                        <div class="input-field col-6">
                            <label for="email" class="input-label">Email*</label>
                            <input id="email" type="text" class="input" placeholder="Your working email">
                        </div>
                        <div class="input-field col-6">
                            <label for="phone" class="input-label">Phone</label>
                            <input id="phone" type="text" class="input" placeholder="Your phone number">
                        </div>
                    </div>
                    <div class="row d-flex">
                        <div class="input-field col-12">
                            <label for="message" class="input-label">Message*</label>
                            <textarea id="message" class="input textarea" placeholder="Your message"></textarea>
                        </div>
                    </div>
                    <div class="d-flex space-between">
                        <div class="col col-6">
                            <input type="checkbox" id="agreement" name="agreement"/>
                            <label for="agreement">I agree to receive communications from <br> Createx Online School</label>
                        </div>
                        <div class="col col-6">
                            <button class="btn btn-submit">
                                Send message
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
