<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="columns space-between">
                <div class="col">
                    <img src="../../assets/images/logo2.svg" alt="" class="logo">
                    <div class="footer-text text">
                        Createx Online School is a leader in online studying. We have lots of courses and programs from the main market experts. We provide relevant approaches to online learning, internships and employment in the largest companies in the country.
                    </div>
                    <ul class="footer-social d-flex">
                        <li class="footer-social-item" *ngFor="let icon of socialIcons">
                            <a href="#" class="footer-social-link">
                                <div class="i-social" [inlineSVG]="'./assets/images/' + icon + '.svg'"></div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <h6 class="footer-title">SITE MAP</h6>
                    <ul class="footer-list">
                        <li class="footer-item"><a href="#">About Us</a></li>
                        <li class="footer-item"><a href="#">Courses</a></li>
                        <li class="footer-item"><a href="#">Events</a></li>
                        <li class="footer-item"><a href="#">Blog</a></li>
                        <li class="footer-item"><a href="#">Contacts</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h6 class="footer-title">COURSES</h6>
                    <ul class="footer-list">
                        <li class="footer-item"><a href="#">Marketing</a></li>
                        <li class="footer-item"><a href="#">Management</a></li>
                        <li class="footer-item"><a href="#">HR & Recruting</a></li>
                        <li class="footer-item"><a href="#">Design</a></li>
                        <li class="footer-item"><a href="#">Development</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h6 class="footer-title">CONTACT US</h6>
                    <ul class="footer-list">
                        <li class="footer-item">
                            <object
                                    type="image/svg+xml"
                                    data="../../assets/images/iphone2.svg">
                                <img src="../../assets/images/iphone2.svg">
                            </object>
                            <a href="tel:+4055550128">(405) 555-0128</a>
                        </li>
                        <li class="footer-item">
                            <object
                                    type="image/svg+xml"
                                    data="../../assets/images/message2.svg">
                                <img src="../../assets/images/message2.svg">
                            </object>
                            <a href="mailto: hello@createx.com">hello@createx.com</a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <h6 class="footer-title">SIGN UP TO OUR NEWSLETTER</h6>
                    <div class="input-group">
                        <input type="text" class="input input-footer" placeholder="Email address">
                        <button class="send">
                            <object
                                    type="image/svg+xml"
                                    data="../../assets/images/right.svg">
                                <img src="../../assets/images/right.svg">
                            </object>
                        </button>
                    </div>
                    <div class="footer-subtitle">
                        *Subscribe to our newsletter to receive communications and early <br>updates from Createx SEO Agency.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="columns space-between">
                <div class="col">
                    <span class="text">© All rights reserved. Made with </span>
                    <object
                            type="image/svg+xml"
                            data="../../assets/images/heart.svg">
                        <img src="../../assets/images/heart.svg">
                    </object>
                    <span class="text"> by Createx Studio </span>
                </div>
                <div class="col">
                    <a href="#" class="go-top">
                        GO TO TOP
                    </a>
                </div>
            </div>
        </div>
    </div>

</footer>
