<header class="header">
    <div class="header-left d-flex">
        <img src="../../assets/images/logo.svg" alt="" class="logo">
        <ul class="menu d-flex">
            <li class="menu-item"><a href="#">About Us</a></li>
            <li class="menu-item"><a href="#">Courses</a></li>
            <li class="menu-item"><a href="#">Events</a></li>
            <li class="menu-item"><a href="#">Blog</a></li>
            <li class="menu-item active"><a href="#">Contacts</a></li>
        </ul>
    </div>
    <div class="header-right d-flex">
        <button class="btn btn-header">Get consultation</button>
        <div class="sign d-flex">
            <img src="../../assets/images/person.svg" alt="" class="i-person">
            <div class="sign-links d-flex align-items-center">
                <a href="" (click)="openSignInDialog($event)">Log in</a><span> / </span><a href="#" (click)="openSignUpDialog($event)">Register</a>
            </div>
        </div>
    </div>

</header>
