<section class="section recommendation container">
    <h6 class="section-subtitle">Our blog</h6>
    <h1 class="section-title">You may also like</h1>
    <div class="recommendations-posts ">
        <div class="slider-buttons d-flex">
            <button class="btn-prev">
                <div class="icon" [inlineSVG]="'./assets/images/arr-prev.svg'"></div>
            </button>
            <div class="btn-next">
                <div class="icon" [inlineSVG]="'./assets/images/arr-next.svg'"></div>
            </div>
        </div>
        <div class="d-flex nowrap space-between">
            <app-post-card *ngFor="let preview of postPreviews" [category]="preview.category" [type]="preview.type" [image]="preview.image" [date]="preview.date" [timeToListen]="preview.timeToListen" [title]="preview.title" [text]="preview.text"></app-post-card>
        </div>
    </div>
    <div class="recommendations-bottom d-flex justify-content-center align-items-center">
        <h3 class="recommendations-title">
            Do you want more articles, podcasts and videos?
        </h3>
        <button class="btn">Go to blog</button>
    </div>
</section>
