@import "../../../styles/general";


.recommendations {

  &-bottom {
    margin-top: 80px;
    gap: 40px;
    .btn {
      height: 52px;
      padding: 0 40px;
      font-size: 16px;
    }
  }

  &-posts {
    position: relative;
  }

}

.slider-buttons {
  gap: 30px;
  position: absolute;
  top: -72px;
  right: 0;
}
