<div class="container">
    <header class="header">
        <div class="header-left d-flex">
            <img src="../../assets/images/logo.svg" alt="" class="logo">
            <ul class="menu">
                <li class="menu-item"><a href="#">About Us</a></li>
                <li class="menu-item"><a href="#">Courses</a></li>
                <li class="menu-item"><a href="#">Events</a></li>
                <li class="menu-item"><a href="#">Blog</a></li>
                <li class="menu-item active"><a href="#">Contacts</a></li>
            </ul>
        </div>
        <div class="header-right d-flex">
            <button class="btn btn-header">Get consultation</button>
            <div class="sign d-flex">
                <img src="../../assets/images/person.svg" alt="" class="i-person">
                <div class="sign-links d-flex align-items-center">
                    <a href="#">Log in</a><span> / </span><a href="#">Register</a>
                </div>
            </div>
        </div>

</header>
    <main class="content">
        <section class="section contact d-flex">
            <div class="col">
                <h6 class="section-subtitle">Contact info</h6>
                <h1 class="section-title">Get in touch</h1>
                <ul class="contact-list">
                    <li class="contact-item d-flex">
                        <img src="../../assets/images/chat.svg" alt="" class="contact-item-image">
                        <div class="col">
                            <div class="contact-item-subtitle">Talk to us:</div>
                            <div class="contact-item-text">hello@createx.com</div>
                        </div>
                    </li>
                    <li class="contact-item d-flex">
                        <img src="../../assets/images/iphone.svg" alt="" class="contact-item-image">
                        <div class="col">
                            <div class="contact-item-subtitle">Call us:</div>
                            <div class="contact-item-text">(405) 555-0128</div>
                        </div>
                    </li>
                    <li class="contact-item d-flex">
                        <img src="../../assets/images/pin.svg" alt="" class="contact-item-image">
                        <div class="col">
                            <div class="contact-item-subtitle">Address:</div>
                            <div class="contact-item-text">2464 Royal Ln. Mesa, New Jersey 45463, USA</div>
                        </div>
                    </li>
                </ul>
                <h6 class="section-subtitle">Follow us:</h6>
                <ul class="contact-social d-flex">
                    <li class="contact-social-item">
                        <a href="#" class="contact-social-link">
                            <img src="../../assets/images/facebook.svg" alt="" class="i-social">
                        </a>
                    </li>
                    <li class="contact-social-item">
                        <a href="#" class="contact-social-link">
                            <img src="../../assets/images/twitter.svg" alt="" class="i-social">
                        </a>
                    </li>
                    <li class="contact-social-item">
                        <a href="" class="contact-social-link">
                            <img src="../../assets/images/youtube.svg" alt="" class="i-social">
                        </a>
                    </li>
                    <li class="contact-social-item">
                        <a href="" class="contact-social-link">
                            <img src="../../assets/images/telegram.svg" alt="" class="i-social">
                        </a>
                    </li>
                    <li class="contact-social-item">
                        <a href="" class="contact-social-link">
                            <img src="../../assets/images/instagram.svg" alt="" class="i-social">
                        </a>
                    </li>
                    <li class="contact-social-item">
                        <a href="" class="contact-social-link">
                            <img src="../../assets/images/linked-in.svg" alt="" class="i-social">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <div id="map" class="map">
                </div>
            </div>
        </section>
        <section class="section questions d-flex">
            <div class="col">
                <img src="../../assets/images/illustration.png" alt="" class="questions-image">
            </div>
            <div class="col">
                <form action="" class="questions-form">
                    <h6 class="section-subtitle">Any questions?</h6>
                    <h1 class="section-title">Drop us a line</h1>
                    <div class="row d-flex">
                        <div class="input-field col-6">
                            <label for="firstname" class="input-label">First Name*</label>
                            <input id="firstname" type="text" class="input" placeholder="Your first name">
                        </div>
                        <div class="input-field col-6">
                            <label for="lastname" class="input-label">Last Name*</label>
                            <input id="lastname" type="text" class="input" placeholder="Your last name">
                        </div>
                    </div>
                    <div class="row d-flex">
                        <div class="input-field col-6">
                            <label for="email" class="input-label">Email*</label>
                            <input id="email" type="text" class="input" placeholder="Your working email">
                        </div>
                        <div class="input-field col-6">
                            <label for="phone" class="input-label">Phone</label>
                            <input id="phone" type="text" class="input" placeholder="Your phone number">
                        </div>
                    </div>
                    <div class="row d-flex">
                        <div class="input-field col-12">
                            <label for="message" class="input-label">Message*</label>
                            <textarea id="message" class="input textarea" placeholder="Your message"></textarea>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="col col-6">
                            <input type="checkbox" id="agreement" name="agreement"/>
                            <label for="agreement">I agree to receive communications from Createx Online School</label>
                        </div>
                        <div class="col col-6">
                            <button class="btn btn-submit">
                                Send message
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
</div>
<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="columns space-between">
                <div class="col">
                    <img src="../../assets/images/logo2.svg" alt="" class="logo">
                    <div class="footer-text text">
                        Createx Online School is a leader in online studying. We have lots of courses and programs from the main market experts. We provide relevant approaches to online learning, internships and employment in the largest companies in the country.
                    </div>
                    <ul class="footer-social d-flex">
                        <li class="footer-social-item">
                            <a href="#" class="footer-social-link">
                                <img src="../../assets/images/facebook.svg" alt="" class="i-social">
                            </a>
                        </li>
                        <li class="footer-social-item">
                            <a href="#" class="footer-social-link">
                                <img src="../../assets/images/twitter.svg" alt="" class="i-social">
                            </a>
                        </li>
                        <li class="footer-social-item">
                            <a href="" class="footer-social-link">
                                <img src="../../assets/images/youtube.svg" alt="" class="i-social">
                            </a>
                        </li>
                        <li class="footer-social-item">
                            <a href="" class="footer-social-link">
                                <img src="../../assets/images/telegram.svg" alt="" class="i-social">
                            </a>
                        </li>
                        <li class="footer-social-item">
                            <a href="" class="footer-social-link">
                                <img src="../../assets/images/instagram.svg" alt="" class="i-social">
                            </a>
                        </li>
                        <li class="footer-social-item">
                            <a href="" class="footer-social-link">
                                <img src="../../assets/images/linked-in.svg" alt="" class="i-social">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <h6 class="footer-title">SITE MAP</h6>
                    <ul class="footer-list">
                        <li class="footer-item"><a href="#">About Us</a></li>
                        <li class="footer-item"><a href="#">Courses</a></li>
                        <li class="footer-item"><a href="#">Events</a></li>
                        <li class="footer-item"><a href="#">Blog</a></li>
                        <li class="footer-item"><a href="#">Contacts</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h6 class="footer-title">COURSES</h6>
                    <ul class="footer-list">
                        <li class="footer-item"><a href="#">Marketing</a></li>
                        <li class="footer-item"><a href="#">Management</a></li>
                        <li class="footer-item"><a href="#">HR & Recruting</a></li>
                        <li class="footer-item"><a href="#">Design</a></li>
                        <li class="footer-item"><a href="#">Development</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h6 class="footer-title">CONTACT US</h6>
                    <ul class="footer-list">
                        <li class="footer-item">
                            <object
                                type="image/svg+xml"
                                data="../../assets/images/iphone2.svg">
                            <img src="../../assets/images/iphone2.svg">
                            </object>
                            <a href="#">(405) 555-0128</a>
                        </li>
                        <li class="footer-item">
                            <object
                                    type="image/svg+xml"
                                    data="../../assets/images/message2.svg">
                                <img src="../../assets/images/message2.svg">
                            </object>
                            <a href="#">hello@createx.com</a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <h6 class="footer-title">SIGN UP TO OUR NEWSLETTER</h6>
                    <div class="input-group">
                        <input type="text" class="input input-footer" placeholder="Email address">
                        <button class="send">
                            <object
                                    type="image/svg+xml"
                                    data="../../assets/images/right.svg">
                                <img src="../../assets/images/right.svg">
                            </object>
                        </button>
                    </div>
                    <div class="footer-subtitle">
                        *Subscribe to our newsletter to receive communications and early <br>updates from Createx SEO Agency.
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="columns space-between">
                <div class="col">
                    <span class="text">© All rights reserved. Made with </span>
                    <object
                            type="image/svg+xml"
                            data="../../assets/images/heart.svg">
                        <img src="../../assets/images/heart.svg">
                    </object>
                    <span class="text"> by Createx Studio </span>
                </div>
                <div class="col">
                    <a href="#" class="go-top">
                        GO TO TOP
                    </a>
                </div>
            </div>
        </div>
    </div>

</footer>
