@import "../../styles/general";

:host {
  @include main-font;
  font-size: 14px;

}

.backdrop {
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  background-color: $gray-900;
  opacity: 0.75;
  position: fixed;
}

.modal {
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translate(-50%, 0);
}

.container {
  padding: 48px;
  max-width: 486px;
  border: 1px solid $gray-400;
  box-shadow: 0px 60px 80px -20px rgba(30, 33, 44, 0.16), 0px 26px 24px -10px rgba(30, 33, 44, 0.1), 0px 12px 10px -6px rgba(30, 33, 44, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
  border-radius: 4px;
  background: $white;
  //position: relative;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  color: $gray-900;
  margin-bottom: 24px;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #787A80;

  &-dark {
   color: #424551;
  }
}

.link {
  color: #FF3F3A;
}

.form {
  margin-top: 24px;
  padding-bottom: 24px;
}

.input {
  height: 44px;
  padding: 13px 16px;

  &::placeholder {
    font-size: 14px;
    line-height: 160%;
  }

  &:focus {
    border: 1px solid rgba(255, 63, 58, 0.4);
    box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.08), 0px 30px 24px -10px rgba(255, 63, 58, 0.05), 0px 12px 10px -6px rgba(255, 63, 58, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  }

  &-label {
    margin-bottom: 8px;
    font-size: 14px;
  }

  &-field {
    margin-bottom: 20px;
  }
}

hr {
  margin: 0 -48px;
  margin-bottom: 24px;
}

label {
  font-size: 14px;
}

input[type="checkbox"] + label:before {
  margin: 2px 12px 0 0;
}

.btn {
  height: 44px;

  &-submit {
    width: 100%;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

.show {
  position: absolute;
  right: 14px;
  top: 14px;
  cursor: pointer;
  width: 16px;
  height: 16px;
  background-image: url("../../../assets/images/eye.svg");
}

.hide {
  position: absolute;
  right: 14px;
  top: 14px;
  cursor: pointer;
  width: 16px;
  height: 16px;
  background-image: url("../../../assets/images/closed-eye.svg");
}

.social {
  justify-content: center;
  gap: 12px;
  margin-top: 16px;

  ::ng-deep svg:hover {
    fill: $red;
  }
}

.close {
  width: 24px;
  height: 24px;
  background-image: url("../../../assets/images/cross.svg");
  position: absolute;
  right: 28px;
  top: 28px;
}
