<div class="aside-card aside-card-article d-flex">
    <div class="aside-card-image">
        <img src="assets/images/pictures/atricle-prew1.png" alt="Author">
    </div>
    <div class="aside-card-desc article">
        <div class="article-date date d-flex align-items-center">
            <mat-icon svgIcon="calendar" class="icon info-icon"></mat-icon>
            <div class="text">September 4, 2020</div>
        </div>
        <a href="" class="article-title title">
            What is traffic arbitrage and does it really make money?
        </a>
    </div>
</div>
