//general

@mixin main-font {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.text-center {
  text-align: center;
}

.col-12 {
  width: 100%;
}


.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

:host {
  @include main-font;
  font-size: 14px;
}

.container {
  padding: 48px;
  max-width: 486px;
  border: 1px solid #E5E8ED;
  box-shadow: 0px 60px 80px -20px rgba(30, 33, 44, 0.16), 0px 26px 24px -10px rgba(30, 33, 44, 0.1), 0px 12px 10px -6px rgba(30, 33, 44, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
  border-radius: 4px;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  color: #1E212C;
  margin-bottom: 24px;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #787A80;

  &-dark {
    color: #424551;
  }
}

.link {
  color: #FF3F3A;
}

.form {
  margin-top: 24px;
  padding-bottom: 24px;
  // border-bottom: 1px solid #E5E8ED;
}

.input {
  background: #FFFFFF;
  height: 44px;
  border: 1px solid #D7DADD;
  border-radius: 4px;
  padding: 13px 16px;
  outline: none;

  &-group {
    position: relative;
  }

  &::placeholder {
    color: #9A9CA5;
    // font-weight: 400;
    font-size: 14px;
    line-height: 160%;
  }

  &-label {
    margin-bottom: 8px;
    font-size: 14px;
  }

  &-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
}

hr {
  border: none;
  color: #E5E8ED;
  background-color: #E5E8ED;
  height: 1px;
  margin: 0 -48px;
  margin-bottom: 24px;
}

input[type="checkbox"] {
  display: none;
}

label {
  cursor: pointer;
  margin-right: 5px;
  color: #424551;
  font-size: 14px;
}

input[type="checkbox"] + label:before {
  border: 1px solid #D7DADD;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 16px;
  margin: 2px 12px 0 0;
  padding: 0;
  width: 16px;
  min-width: 16px;
  border-radius: 3px;
  //background-color: #FF3F3A;
}
input[type="checkbox"]:checked + label:before {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FF3F3A;
  border: 1px solid #FF3F3A;
  background-image: url("../../assets/images/check.svg");
}

input[type="checkbox"] + label {
  display: flex;
}

.fogot-password {
  color: #FF3F3A;
}

.btn {
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
  color: #FFFFFF;
  letter-spacing: 0.5px;
  height: 44px;

  &-submit {
    width: 100%;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

.show {
  position: absolute;
  right: 14px;
  top: 14px;
  cursor: pointer;
  width: 16px;
  height: 16px;
  background-image: url("../../assets/images/eye.svg");
}

.social {
  justify-content: center;
  gap: 12px;
  margin-top: 16px;

  svg:hover {
    fill: #FF3F3A;
  }
}
