<div class="banner">
    <div class="container banner-container d-flex space-between">
        <img src="../../../../assets/images/pictures/blog-banner-image.png" alt="Banner image">
        <form action="" class="banner-form">
            <h2 class="banner-title">
                Want to get the best articles weekly?
                Subscribe to our newsletter!
            </h2>
            <div class="input-group d-flex space-between nowrap">
                <input type="text" class="input" placeholder="Your working email">
                <button class="btn">Subscribe</button>
            </div>
            <div class="input-group">
                <input type="checkbox" id="agreement" name="agreement"/>
                <label for="agreement">I agree to receive communications from Createx Online School</label>
            </div>
        </form>
    </div>
</div>
