@import "../../../styles/general";

p {
  margin: 0;
}
.post {
  max-width: 810px;
  color: $gray-800;
  @include main-font;
  font-size: 16px;

  &-category {
    margin-bottom: 12px;

    &-icon {
      margin-right: 8px;
    }

    &-link {
      color: $red;
      font-weight: 700;
    }

    .divider {
      margin: 0 12px;
    }


  }

  &-title {
    color: $gray-900;
    margin-bottom: 26px;
  }

  &-header {
    color: $gray-700;
    &-info {
      gap: 25px;

      .icon {
        margin-right: 8px;
      }
    }

  }

  &-socials {
    gap: 12px;
    color: $gray-900;
  }

  &-content {
    margin-top: 40px;
    margin-bottom: 60px;
  }

  &-image {
    margin-bottom: 60px;
  }

  .text-bold {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: $gray-900;
  }

  &-text {
    margin-bottom: 24px;
    line-height: 160%;
  }

  &-quote {
    position: relative;
    padding-left: 58px;
    margin-top: 48px;
    margin-bottom: 48px;
  }
  &-quote:before {
    content: "";
    position: absolute;
    background-image: url("../../../../assets/images/braces.svg");
    width: 28px;
    height: 20px;
    left: 0;
    top: 0;
  }

  &-list {
    margin-bottom: 24px;
    &-item {
      position: relative;
      margin-bottom: 4px;
      padding-left: 32px;
    }

    &-item:before {
      position: absolute;
      content: "";
      width: 16px;
      height: 16px;
      background-image: url("../../../../assets/images/check2.svg");
      left: 0;
    }


  }

  &-tags {
    gap: 12px;
    color: $gray-900;
  }

  &-tag {
    border: 1px solid #D7DADD;
    border-radius: 4px;
    padding: 5.5px 16px;

    &-link {
      font-weight: 700;
      font-size: 14px;
      line-height: 150%;
      color: $gray-700;
    }
  }
}


